.playlist-video-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90vw;
}

.playlist-video-panel.min {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 70vw;
    overflow-y: scroll;
    height: 80vh;
}