.search {
    position: relative;
    right: 3%;
    width: 510px;
}

.search.index {
    position: relative;
    left: 30%;
    width: 660px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.search-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    object-fit: cover;
    font-size: 20px;
}

.search-input {
    width: 100%;
    height: 30px;
    padding: 3px;
    border: 1px solid #9a9999;
    border-radius: 5px;
    box-shadow: 0 0 5px #9a9999;
    font-size: 15px;
}

.search-list {
    list-style-type: none;
    margin-top: 10px;
    max-height: 83vh;
    overflow-y: auto;
}

.search-list a {
    text-decoration: none;
    color: #000000;
}

.search-list::-webkit-scrollbar {
    display: none;
}

.search-video-thumbnail {
    margin-left: 10px;
    width: 150px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.search-video-thumbnail.index {
    margin-left: 10px;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.search-video-title {
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    padding-left: 10px;
    word-wrap: break-word;
    text-align: left;
}

.search-video-title.index {
    font-size: 14px;
    width: 300px;
}

.search-video-views {
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    padding-left: 10px;
    word-wrap: break-word;
    text-align: left;
}

.search-video-views.index {
    font-size: 14px;
    width: 300px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-video-card {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 1s;
}

.search-video-card:hover {
    background-color: rgba(210, 210, 210, 0.5);
    border-radius: 10px;
    scale: 1.05;
    transition: all 0.3s ease;
}

.search-video-card.index {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.search-video-card.index:hover {
    background-color: rgba(210, 210, 210, 0.5);
    border-radius: 20px;
    scale: 1.05;
    transition: all 0.3s ease;
}